.default {
    
    /* background-color: gray; */
}

.active {
    /* background-color: gray; */
    transition: all 0.5s ease-in-out;
    box-shadow: 0 4px 20px rgba(88,99,148,.17);
    /* blur on bottom */
    z-index: 999;
    backdrop-filter: blur(16px) saturate(180%);
}